*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #333;
 
 

}

.card{

  width: 300px;
  border: 1px solid white;
  padding: 24px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
  margin: 40px;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

}

.button{
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: black;
  cursor: pointer;
}

.img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
 

}